@mixin small-screen {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin mobile-screen {
  @media only screen and (max-width: 490px) {
    @content;
  }
}

#root {
  display: flex;
  height: auto;

  @include mobile-screen {
    flex-direction: column-reverse;
  }
}

main {
  width: 100%;
  max-width: 600px;
  background-color: black;
  border-right: 1px solid grey;
  margin-left: 105px;

  @include small-screen {
    margin-left: 14.7%;
  }

  @include mobile-screen {
    overflow-y: auto;
    margin-left: 0;
  }
}
