.footer {
  margin: 0 0 20px 20px;
  margin: 26px auto 5px;
  width: 100%;
  font-size: 12px;
  z-index: 100;
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: center;

  span {
    color: white;
  }
}
