.registerFormContainer {
  background-color: black;
  width: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  position: fixed;
  z-index: 3;
  margin-left: -105px;
}

.registerForm {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 1em auto;

  h1 {
    text-align: center;
    font-size: 46px;
  }

  &__username {
    background-color: black;
    border: 1px solid silver;
    width: 260px;
    height: 20px;
    padding: 20px;
    margin: 10px auto;
    color: #e7e9ea;
    font-size: 14px;
  }

  &__email {
    background-color: black;
    border: 1px solid silver;
    width: 260px;
    height: 20px;
    padding: 20px;
    margin: 10px auto;
    color: #e7e9ea;
    font-size: 14px;
  }

  &__password {
    background-color: black;
    border: 1px solid silver;
    width: 260px;
    height: 20px;
    padding: 20px;
    margin: 10px auto;
    color: #e7e9ea;
    font-size: 14px;
  }

  button {
    border-radius: 20px;
    width: 300px;
    height: 36px;
    background-color: rgb(29, 155, 240);
    border-color: rgba(0, 0, 0, 0);
    color: #e7e9ea;
    font-weight: 600;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
  }

  .registerForm__login {
    font-size: 14px;
    text-align: center;
  }

  .registerForm__loginLink {
    color: rgb(29, 155, 240);
    text-decoration: none;
  }
}
