.containerTitle {
  width: 100%;
  max-width: 520px;
  padding: 10px 40px;
  border-bottom: 1px solid grey;

  h1 {
    margin: 0;
  }
}

.profileForm {
  display: flex;
  flex-direction: column;
  position: relative;

  &__username {
    width: 80%;
    height: 40px;
    margin: 10px 40px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: black;
    color: rgb(113, 118, 123);
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    width: 80%;
    height: 140px;
    margin: 10px 40px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: black;
    color: rgb(113, 118, 123);
    font-size: 14px;
    font-weight: 600;
  }

  &__containerButton {
    position: relative;
    width: 80%;
    margin: 10px 40px;

    button {
      border-radius: 20px;
      width: 140px;
      height: 36px;
      background-color: rgb(29, 155, 240);
      border-color: rgba(0, 0, 0, 0);
      color: #e7e9ea;
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      position: absolute;
      right: -3px;
      top: -15px;
    }
  }
}
