@mixin small-screen {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin mobile-screen {
  @media only screen and (max-width: 490px) {
    @content;
  }
}

.navbar {
  width: 88px;
  height: 100%;
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: black;
  text-align: center;
  border-right: 1px solid grey;
  position: fixed;
  z-index: 2;

  @include small-screen {
    width: 14.7%;
    min-width: 34px;
  }

  @include mobile-screen {
    flex-direction: row;
    justify-content: space-around;
    width: calc(100% - 15px);
    height: auto;
    border-top: 1px solid grey;
    position: fixed;
    bottom: 0;
  }

  &__logo {
    width: 28px;
    margin: 10px 0;
    cursor: pointer;
  }

  &__home {
    width: 28px;
    margin: 10px 0;
    cursor: pointer;
  }

  &__profile {
    width: 28px;
    margin: 10px 0;
    cursor: pointer;
  }

  &__logout {
    width: 28px;
    margin: 10px 0;
    cursor: pointer;
  }
}
